.space {
    height: 600px;
}

img.lazy {
    width: 600px;
    max-width: 100%;
    height: auto;

    background: center / 50% no-repeat url(mc.png);

    transition: filter .15s ease-in-out, transform .15s ease-in-out;
}

.blur {
    filter: blur(20px);
    transform: scale(0.9);
}